# eclipse project
.cproject
.project
.settings/


# autotools
.deps/
autom4te.cache/
m4/

.dirstamp
Makefile
Makefile.in
aclocal.m4
ar-lib
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
test-suite.log

*.log
*.o
*.a

nixexpr
test/test
test/test.trs
